*,
::after,
::before {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  box-sizing: border-box;
  background-color: #f5f6fe;
  color: #666;
  // font-family: 'Microsoft Yahei', Arial;
  font-family: 'Open Sans', poppin, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', STHeiti, sans-serif;
  font-size: 12px;
  line-height: 1.2;
  touch-action: manipulation;
  text-size-adjust: none;
  // filter: grayscale(1);
}

html,
body {
  // height: 100%;
  // width: 100%;
  // overflow-x: hidden;
}

body,
button,
dd,
dl,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

a {
  outline: 0;
  color: inherit;
  text-decoration: none;
}

a,
img {
  -webkit-touch-callout: none;
}

button,
input,
select,
textarea {
  outline: 0;
  border: none;
  font-size: inherit;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 400;
}

img {
  max-width: 100%;
}

textarea {
  resize: none;
}

select {
  background-color: transparent;
  appearance: none;
}

input[type='button'],
input[type='reset'],
input[type='submit'] {
  appearance: button;
}